<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>头部</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	

</head>
<body>

	<div class="wrap-con" id="wrap-con">
		

		<!-- 购物车开始 -->
		<div class="list_title">

			<span class="shop_spc"></span>
			<span class="shop_inf">商品信息</span>
			<span class="shop_pri">商品金额</span>
			<span class="shop_num">商品数量</span>
			<span class="shop_sum">总金额</span>
			<span class="shop_ops">编辑</span>

		</div>


		<ul class="cart_body">


			
				<li class="item_form" v-for="item in shopList">
					<div class="item_check">
						<span class="select_box unselect" v-bind:class="{'checkd':item.check}" v-on:click="selectProduct(item)"></span>
					</div>

					<div class="item_img">
						<img  alt="" v-bind:src='item.productImage'>

					</div>

					<div class="item_inf">

							<p  v-text="item.productName" class="item_inf_title"></p>

						
		
							<p v-for="itempart in item.parts">
								<span v-text="itempart.partsName"></span>
							</p>


					</div>

					<div class="item_pri"> {{item.productPrice|formMoney}}</div>



					<div class="item_num">
						<span class="icon_logo" v-on:click="changeNum(item,-1)">-</span>

						<input type="text" v-model="item.productQuantity"/>
						
						<span class="icon_logo" v-on:click="changeNum(item,1)">+</span>
					</div>
					
					<div class="item_sum">{{item.productPrice*item.productQuantity|formMoney}}</div>

					<div class="item_ops" v-on:click="showMode(item)">编辑</div>

					

				</li>

				
					<!-- 总金额合计 -->
				<li class=" item_foot">
					<div class="item_check">
						<span class="select_box unselect" v-bind:class="{'checkd':checkAll}" v-on:click="selectAll"></span>全选
					</div>
					<div class="item_cancel">
						取消全选
					</div>

					<div class="item_spc6"></div>

					<div class="item_allprize">{{totAllMon}}</div>
					
					<div class="item_solvebtn">
						结账
					</div>	

					

				</li>


				

			</ul>




		<h3>{{title}}</h3>

		<div class="mode" v-if="modeFlag"></div>

		
		<div class="alertCon" v-if="modeFlag">
			<span class="close_btn" v-on:click="showMode" >×</span>
			<p>你确认删除此条订单嘛</p>

			<div class="btnCon">
				<div></div>


				<span href="" v-on:click="dellProduct()">
					YES
				</span>



				<div></div>
				<span href="" v-on:click="showMode">
					NO
				</span>

				<div></div>
			</div>
		</div>
		

		<!-- 购物车结束 -->
	</div>



<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/axios.min.js"></script>

<script type="text/javascript" src="main.js"></script>
</body>
</html>